body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b7d2ee;
    font-family: monospace;
}
.light-theme
{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b7d2ee;
    font-family: monospace;
    color: #050c14;
    transition: 0.2s all ease-in-out;
}
.dark-theme
{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    font-family: monospace;
    color: #c8d0d8;
    transition: 0.2s all ease-in-out;
    
    
    
}
.darkthemebtn
{
    background-color: rgb(193, 81, 1);
    border-radius: 50%;
    padding: 7px;
    text-align: center;
    
   
}
.darkthemebtn:hover
{
    background-color: #333;
    transition: 0.3s ease-in-out;
}
nav {
    background-color: #333; 
    padding: 10px 0;
    width: 100%;
    height: 50px; 
}

h1:hover
{
    color: #0061ca;
    transition: 0.3s all ease-in-out;
    
}
nav ul {
    list-style: none;
    text-align: end;
}

nav li {
    display: inline-block; 
    margin-right: 20px; 
}


nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

nav a:hover {
    
 color: #0061ca;
    transition: 0.3s all ease-in-out;
}

.btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.counter {
   text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
   
}
.id1
{
    background-color: #007bff;
   
}
.id2
{
    background-color: #ffab04;
}
.id3
{
    background-color: #ff043f; 
}
.id1:hover
{background-color: #0061ca;
    transition: 0.3s all ease-in-out;

} 
.id2:hover{
    background-color: #eb9d02;
     transition: 0.3s all ease-in-out;
}
.id3:hover{
    background-color: #b5042d;
     transition: 0.3s all ease-in-out;
}
/* responsiveness */
@media screen and (min-width: 480px) {
    body {
        font-size: 12px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #b7d2ee;
        font-family: monospace;
    }
     nav {
        background-color: #333; 
        
        width: 100%;
        height: 50px; 
    }
    .darkthemebtn
{
    background-color: rgb(193, 81, 1);
    border-radius: 50%;
   
    text-align: center;
   
}
.darkthemebtn:hover
{
    background-color: #333;
    transition: 0.3s ease-in-out;
} 
button {
  
    border-radius: 7px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-left: 0px;
   
}
nav li {
    display: inline-block; 
   
}
nav ul {
    list-style: none;
    text-align: center;
}
.darkthemebtn:hover
{
    background-color: #333;
    transition: 0.3s ease-in-out;
}
.id1:hover
{background-color: #0061ca;
    transition: 0.3s all ease-in-out;

} 
.id2:hover{
    background-color: #eb9d02;
     transition: 0.3s all ease-in-out;
}
.id3:hover{
    background-color: #b5042d;
     transition: 0.3s all ease-in-out;
}
nav a:hover {
    
    color: #0061ca;
       transition: 0.3s all ease-in-out;
   }
}

